@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configure some base styles to underlay the whole app */
@layer base {
    /* Darn mobile browsers destroyed vh */
    html {
        height: -webkit-fill-available;
    }

    /* Default underlying body background and text color */
    body {
        @apply bg-neutral-100;
        @apply text-stone-700;
        @apply dark:bg-stone-700;
        @apply dark:text-white;

        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    /* Default styles for buttons */
    button {
        /* Generic styles */
        @apply rounded bg-transparent p-1;

        @apply bg-sky-500;
        @apply text-white;
        @apply hover:bg-sky-600;
    }

    input, select, textarea {
        @apply outline-1;
        @apply outline-sky-500;
    }

    .h-screen {
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100) !important;
    }

    .min-h-screen {
        min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        min-height: calc(var(--vh, 1vh) * 100) !important;
    }
}